<%- include('partials/head', { title: 'Latest Stories' }) %>
<body class="home-page">
    <%- include('partials/header') %>
    
    <main class="main-content">
        <div class="articles-grid" id="articles-grid">
            <%- include('partials/articles-grid', { articles, offset }) %>
        </div>
    </main>
    
    <%- include('partials/footer') %>
